.image-card {
  margin: 0; 
  width: 100%; 
  height: 100%;
  box-sizing: border-box;
}

.image-card img {
  object-fit: cover;
  height: 50%;
}

.image-card-body {
  background-color: #4186cf;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-card:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-out;
}

/* animation */
.image-card.dragging {
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

@media (max-width: 576px) {
  .image-card {
    max-width: 100%;
  }

  .image-card img {
    height: auto;
  }
}
